body {
    background-color: #FFE3EB;
}
.table th, .table td {
    vertical-align: middle;
}

.new {
    background-color: #ff66a3 !important; 
    color: white !important; 
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.new:hover {
    background-color: #ff3385 !important; 
}

.remove-btn {
    border: none;
    background: transparent;
    font-size: 18px;
}

.remove-btn i {
    color: black; 
    transition: color 0.3s ease-in-out;
}

.remove-btn:hover i {
    color: #d9534f;
}


.text-success {
    color: #28a745 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.pagination .page-item.active .page-link {
    background-color: #FA2290;
    border-color: #FA2290;
}

.btn-primary {
    background-color: #FA2290;
    border: none;
}

.btn-primary:hover {
    background-color: #d10a6e;
}

.notification-header-container {
    
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.notification-header-container h5 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.profile-section {
    position: absolute;
    right: 50px; 
    top: 5%;  
    transform: translateY(-50%);  
    display: flex;
    align-items: center;
}

.profile-role {
    font-size: 14px;
    font-weight: bold;
    color: #FA2290;
}

.divider {
    color: #FA2290;
    font-size: 14px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.fa-solid{
    padding: 20px;
    margin-bottom: 40px;
}
.ccontainer{
    background-color: #FFEDFC  ;
}