body {
    background-color: #FFE3EB;
}

.title-manage-accounts {
    font-family: 'Poppins', sans-serif;
    font-size: 25px !important;
    font-weight: 500 !important;
    color: #1C000E;
}

.input-group.search-bar {
    width: 40%;
}

.table th,
.table td {
    vertical-align: middle;
}

.btn.btn-new-staff {
    background-color: #FF69B5;
    color: #333333;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
}

.btn-new-staff:hover {
    background-color: #ff3385;
}



.form-select,
.form-control::placeholder {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
    color: #B5B7C0 !important;
}




.remove-btn {
    border: none;
    background: transparent;
    font-size: 18px;
}

.remove-btn i {
    color: black;
    transition: color 0.3s ease-in-out;
}

.remove-btn:hover i {
    color: #d9534f;
}


.text-success {
    color: #28a745 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.pagination .page-item.active .page-link {
    background-color: #FA2290;
    border-color: #FA2290;
}

.btn-primary {
    background-color: #FA2290;
    border: none;
}

.btn-primary:hover {
    background-color: #d10a6e;
}

.notification-header-container {

    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notification-header-container h5 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.profile-section {
    position: absolute;
    right: 50px;
    top: 5%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.profile-role {
    font-size: 14px;
    font-weight: bold;
    color: #FA2290;
}

.divider {
    color: #FA2290;
    font-size: 14px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fa-solid {
    padding: 20px;
    margin-bottom: 40px;
}

.ccontainer {
    background-color: #FFEDFC;
}


/* .table-accounts table {
    background-color: black;
} */

.table-accounts .card,
.table-accounts table,
.table-accounts thead,
.table-accounts th,
.table-accounts tr,
.table-accounts tbody,
.table-accounts td {
    background-color: #FFEDFC !important;

    /* color: FFE3EB; */
}


.table-accounts .card {
    border-radius: 30px;
}

.table-accounts th {
    color: #9CA3AF !important;
    font-weight: 500;

}

.table-accounts {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
}

.table-accounts th,
.table-accounts td {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


tr.table-active {
    border: #d10a6e 2px solid;
    border-bottom: #d10a6e 2px solid;
    border-radius: 20px !important;
    overflow: hidden;
}

.table-active td {
    border-top: #d10a6e 1px solid;
}


.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.clickable-row {}