 body {
     background-color: #ffe6eb;
 }



 .notification-container {
     /* max-width: 1350px; */
     /* margin-left: 20px; */
     /* margin-top: -20px; */
     background: #FFEDFC;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     max-height: 570px;
     overflow-y: auto;
     border: 1px solid black;
 }


 .notification-container::-webkit-scrollbar {
     width: 8px;
 }

 .notification-container::-webkit-scrollbar-thumb {
     background: #ff85a2;
     border-radius: 4px;
 }

 .notification-container::-webkit-scrollbar-track {
     background: #ffe6eb;
 }

 .notification-header {
     font-size: 20px;
     font-weight: bold;
 }

 .notification-item {
     background: #FFEDFC;
     padding: 15px;
     border-radius: 8px;
     margin-bottom: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 15px;
 }

 .notification-item .icon {
     background: #FAC1D9;
     padding: 30px;
     border-radius: 0%;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
 }

 .text-container {
     flex-grow: 1;
 }

 .delete-btn {
     background: #FAC1D9;
     border: none;
     padding: 5px 10px;
     border-radius: 5px;
     color: black;
     cursor: pointer;
 }

 .notification-header-container {

     padding: 20px;
     border-radius: 10px;
     margin-bottom: 20px;
 }

 .notification-header-container h5 {
     margin: 0;
     font-size: 24px;
     font-weight: bold;
 }

 .notification-header-container .btn {
     background: #FAC1D9;
     border: none;
     padding: 10px;
     border-radius: 5px;
     color: #FA2290;
 }

 .notification-header-container .btns {
     background: #FAC1D9;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     color: #FA2290;
     margin-top: 100px;
 }

 .notification-header-container i {
     font-size: 18px;
 }

 .profile-section {
     position: absolute;
     right: 50px;
     top: 5%;
     transform: translateY(-50%);
     display: flex;
     align-items: center;
 }

 .profile-role {
     font-size: 14px;
     font-weight: bold;
     color: #FA2290;
 }

 .divider {
     color: #FA2290;
     font-size: 14px;
 }

 .profile-icon {
     width: 30px;
     height: 30px;
     border-radius: 50%;
 }

 .fa-solid {
     padding: 20px;
     margin-bottom: 40px;
 }